<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>From pizza-single.ejs file</h1>
	<p><%= JSON.stringify(pizza[i].flavor) %></p>
	<p><%= JSON.stringify(pizza[i].location) %></p>
	<img src = '<%= pizza[i].image %>' >
</body>
</html>